body {
  font-family: sans-serif;
  background: #fff0f5;
  color: #333;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #d63384;
}

.contenedor-malla {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 30px;
}

.ciclo {
  background: #ffe3ed;
  border-radius: 8px;
  padding: 10px;
  width: 250px;
  box-shadow: 0 2px 4px #ccc;
}

.ciclo h3 {
  color: #b51c6e;
}

.curso {
  margin: 6px 0;
  padding: 8px;
  background: white;
  border: 2px solid #d63384;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s;
}

.curso:hover {
  transform: scale(1.03);
}

.curso.aprobado {
  background-color: #ffc0cb;
  border-color: #d63384;
  text-decoration: line-through;
}

.curso.bloqueado {
  opacity: 0.4;
  pointer-events: none;
}

#egreso {
  margin-top: 20px;
  font-size: 1.3em;
  color: #d63384;
  font-weight: bold;
}
